<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <!--<urlMappings enabled="true">
      <add url="~/Login" mappedUrl="Admin-cp/Admin_Login.aspx" />
      <add url="~/DashBoard" mappedUrl="Admin-cp/DashBoard.aspx"/>
      <add url="~/Catagory" mappedUrl="Admin-cp/List_catagory.aspx"/>
      <add url="~/AddCatagory" mappedUrl="Admin-cp/Form_catagory.aspx"/>
      <add url="~/News" mappedUrl="Admin-cp/List_News_Master.aspx"/>
      <add url="~/OldNews" mappedUrl="Admin-cp/List_Old_News.aspx"/>
      <add url="~/VideoLinks" mappedUrl="Admin-cp/Form_video_links.aspx"/>
      <add url="~/Home" mappedUrl="Client-cp/Home.aspx"/>
      <add url="~/Model" mappedUrl="Client-cp/News_Model.aspx"/>
      <add url="~/Angular" mappedUrl="../Admin-cp/js/JS//angular.min.js"/>
      <add url="~/Nav" mappedUrl="../Admin-cp/js/JS//NavigationCrtl.js"/>
      <add url="~/JQ" mappedUrl="../Admin-cp/js/JS//jquery.min.js"/>
    </urlMappings>-->
  
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <!--<add name="myconnection" connectionString="Data Source=DESKTOP-ANTBBDO\SQLEXPRESS;Initial Catalog=Sau_News;Integrated Security=True"/>-->
    <add name="myconnection" connectionString="Data Source=DESKTOP-ANTBBDO;Initial Catalog=Sau_News;User ID=admin;Password=admin;;Integrated Security=True"/>
  </connectionStrings>

</configuration>
